In [1]:
import pandas as pd

# EJERCICIO 1

"""
    Cada número es la suma de los 2 anteriores:

    0-1-1-2-3-5-8-13-21-34...

    Se pide programar esa secuencia con Python.

    Nota:

    Apendiza elementos hasta tener 10 primeros resultados.

    (los 10 números indicados desde 0 hasta 34)

    Si sabes, hazlo de varias formas diferentes
"""

def fibonacci():
    L = [0, 1]
    while (len(L) < 10):
        L.append(L[-1] + L[-2])
    return L
print(fibonacci())

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [2]:


# EJERCICIO 2

# Cada número es la suma de los 2 anteriores:

# 0-1-1-2-3-5-8-13-21-34...

# Se pide programar para los números de fibonacci mayores de 1000

# Primero muestra los valores de 0 hasta 1000000, crea una lista
# con ese listado crea una segunda lista con los mayores de 1000

In [3]:
p,q = 0,1
fibo = []
fibo.append(0)
fibo.append(1)
while p < 1000000:
    p = p + q
    fibo.append(p)
    q = p + q
    fibo.append(q)
fibo

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578]

In [5]:
for i in fibo:
    if i > 1000:
        print(i)

1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578

In [6]:

# EJERCICIO 3

# Se pide crear un NUEVO dataframe para cada uno de los siguientes casos

# planteados y que están relacionados con el Titanic DataSet

# (antes debéis de cargar el archivo como df)

# 1) Leer el archivo train.csv del titanic dataset

#df = pd.read_csv("./src/train.csv")

# Descomentar para ejecutar:
# print(df)

# 2) Crear un dataframe de nombre df_sobreviven refiriéndose a un dataframe en el que todos los pasajeros sobreviven

    # NOTA: si al principio no estás seguro del resultado, puedes usar value_counts() para comprobar tu resultado

# 3) Crear un dataframe de nombre df__no_sobreviven refiriéndose a un dataframe en el que NINGUNO de los pasajeros sobrevive

# 4) DataFrame de hombres que no sobrevivieron en el titanic

# 5) DataFrame de hombres que si sobrevivieron en el titanic

# 6) DataFrame de mujeres que no sobrevivieron en el titanic

# 7) DataFrame de mujeres que si sobrevivieron en el titanic