In [4]:
import pandas as pd

# EJERCICIO 1


# 1) Crea una lista de nombre "Concursante" que contenga los siguientes valores:
    # "Juan", "Pedro", "Andrea", "Luis", "Ana", "Lara", "Jose", "Estefania"

# 2) Crea una lista de nombre "Resultados" que contenga los siguientes valores:
    # 20, 30, 50, 20, 10, 5, 60, 40

# 3) Crea un diccionario con los concursantes y los resultados.

# 4) Crea un dataframe vacio y apendiza los concursantes y los resultados mediante el empleo de un bucle for

# 5) Con ayuda de loc filtra los resultados obtenidos desde Pedro hasta Lara.

# 6) Con ayuda de loc filtra los resultados obtenidos mayores o iguales a 40

# 7) Muestra el concursante con la mayor puntuación

# 8) Muestra el concursante con la menor puntuación

# 9) Modifica con la ayuda de loc los valores 20 por 0

# 10) Modifica Concursante "Juan" su puntuación por "None" con ayuda de .loc

# EJERCICIO 2 (3)

"""
    Escribe un programa que pida dos palabras y diga si riman o no.
    Si coinciden las tres últimas letras tiene que decir que riman.
    Si coinciden sólo las dos últimas tiene que decir que riman un poco y si no, que no riman.

SyntaxError: EOF while scanning triple-quoted string literal (1721289666.py, line 33)

In [5]:
import pandas as pd
Concursante = ["Juan", "Pedro", "Andrea", "Luis", "Ana", "Lara", "Jose", "Estefania"]
Concursante

['Juan', 'Pedro', 'Andrea', 'Luis', 'Ana', 'Lara', 'Jose', 'Estefania']

In [6]:
Resultados = [20, 30, 50, 20, 10, 5, 60, 40]
Resultados

[20, 30, 50, 20, 10, 5, 60, 40]

In [8]:
diccionario = ({"Concursantes": Concursante, "Resultados": Resultados})
diccionario

{'Concursantes': ['Juan',
  'Pedro',
  'Andrea',
  'Luis',
  'Ana',
  'Lara',
  'Jose',
  'Estefania'],
 'Resultados': [20, 30, 50, 20, 10, 5, 60, 40]}

In [9]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [10]:
for key, value in diccionario.items():
    df[key] = value
df

  Concursantes  Resultados
0         Juan          20
1        Pedro          30
2       Andrea          50
3         Luis          20
4          Ana          10
5         Lara           5
6         Jose          60
7    Estefania          40

In [11]:
df.loc[1:5, :]

  Concursantes  Resultados
1        Pedro          30
2       Andrea          50
3         Luis          20
4          Ana          10
5         Lara           5

In [13]:
df.loc[df.Resultados >= 40]

  Concursantes  Resultados
2       Andrea          50
6         Jose          60
7    Estefania          40

In [18]:
df["Resultados"].min()

5

In [19]:
df.Resultados.max()

60

In [24]:
df.loc[df["Resultados"] == 20, "Resultados"]  = 0
df

  Concursantes  Resultados
0         Juan           0
1        Pedro          30
2       Andrea          50
3         Luis           0
4          Ana          10
5         Lara           5
6         Jose          60
7    Estefania          40

In [27]:
df.loc[df["Concursantes"] == "Juan", "Resultados"] = None
df

  Concursantes  Resultados
0         Juan         NaN
1        Pedro        30.0
2       Andrea        50.0
3         Luis         0.0
4          Ana        10.0
5         Lara         5.0
6         Jose        60.0
7    Estefania        40.0

In [37]:
palabra1 = input("Introduce una palabra: ")
palabra2 = input("Introduce otra palabra: ")
def rima(palabra1, palabra2):
    for caracter in palabra1:
        for letra in palabra2:
            if palabra1[-3:] == palabra2[-3:]:
                return "Riman"
            elif palabra1[-2:] == palabra2[-2:]:
                return "Riman poco"
            else:
                return "No riman"
rima(palabra1, palabra2)

Introduce una palabra: oso
Introduce otra palabra: pol

'No riman'

In [38]:
uno = input("Dime la primera palabra: ")
dos = input("Dime la segunda palabra: ")
if len(uno) < 3 or len(dos) < 3:
 print("Las palabras tienen menos de 3 letras")
elif uno.endswith(dos[-3:]):
 print("Riman")
elif uno.endswith(dos[-2:]):
 print("Riman un poco")
else:
 print("No riman")

Dime la primera palabra: osa
Dime la segunda palabra: cosa
Riman