In [1]:
cadena = "hola como estas?"
cadena

'hola como estas?'

In [2]:
len(cadena)

16

In [4]:
contador = 0
for i in cadena:
    contador +=1
print(contador)

16

In [ ]:
def longitud(cadena):
    contador = 0
    for letra in cadena:
        contador +=1
    return contador
longitud(cadena)

In [5]:
notas = {'Python': 10,
 'Big Data': 8,
 'NLP': 6}
notas

{'Python': 10, 'Big Data': 8, 'NLP': 6}

In [11]:
values = [value for value in notas.values()]
values

[10, 8, 6]

In [12]:
media = sum(values) / len(values)
media

8.0

In [13]:
notas.keys()

dict_keys(['Python', 'Big Data', 'NLP'])

In [14]:
notas.values()

dict_values([10, 8, 6])

In [15]:
notas["Machine Learning"] = 9
notas

{'Python': 10, 'Big Data': 8, 'NLP': 6, 'Machine Learning': 9}

In [17]:
lista_nueva = []
for key, value in notas.items():
    list_item =[]
    list_item.append(key)
    list_item.append(value)
    lista_nueva.append(list_item)
print(lista_nueva)

[['Python', 10], ['Big Data', 8], ['NLP', 6], ['Machine Learning', 9]]

In [22]:

curso = ["Python", "Big Data", "NLP", "Machine Learning"]
notas = [10, 8, 6, 9]

In [23]:
diccionario = {"Asignaturas": curso, "Notas": notas}
diccionario

{'Asignaturas': ['Python', 'Big Data', 'NLP', 'Machine Learning'],
 'Notas': [10, 8, 6, 9]}

In [24]:
import pandas as pd
df =pd.DataFrame(diccionario)
df

        Asignaturas  Notas
0            Python     10
1          Big Data      8
2               NLP      6
3  Machine Learning      9

In [25]:
df_mayor = df[df["Notas"] > 5]
df_mayor

        Asignaturas  Notas
0            Python     10
1          Big Data      8
2               NLP      6
3  Machine Learning      9

In [29]:
maxi = max(df["Notas"])
maxi

10

In [30]:
mini = min(df["Notas"])
mini

6

In [33]:
df.sort_values(by ="Notas", ascending = False)

        Asignaturas  Notas
0            Python     10
3  Machine Learning      9
1          Big Data      8
2               NLP      6

In [36]:
df.sort_values(by="Notas", ascending = True)

        Asignaturas  Notas
2               NLP      6
1          Big Data      8
3  Machine Learning      9
0            Python     10

In [37]:

import time
import numpy as np

In [42]:
%%time
def main():
    for i in range(10**8): 
        pass
main()

CPU times: user 2.26 s, sys: 9.08 ms, total: 2.27 s
Wall time: 2.27 s

In [48]:
x = time.time()
%%time
def main():
    for i in np.arange(10**8):
        pass
main()
y = time.time()
tiempo = y - x
tiempo

UsageError: Line magic function `%%time` not found.