In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({"x": [10, 20, 30, 40, 50],
"y": [1, 1, 0, 1, 0]})
df.head()

    x  y
0  10  1
1  20  1
2  30  0
3  40  1
4  50  0

#DATAFRAME EN BASE A CIERTOS CRITERIOs
Dataframe de filas que y = 1

In [5]:
df_uno = df[df["y"] == 1]
df_uno

    x  y
0  10  1
1  20  1
3  40  1

In [7]:
df_uno_b = df[df.y == 1]
df_uno_b

    x  y
0  10  1
1  20  1
3  40  1

#DATAFRAME DE FILAS QUE LA Y ES IGUAL A 0

In [9]:
df_uno = df[df["y"] == 0]
df_uno

    x  y
2  30  0
4  50  0

In [10]:
df_uno_b = df[df.y == 0]
df_uno_b

    x  y
2  30  0
4  50  0