In [ ]:

# EJERCICIO 1

"""
    Decribe una variable con nombre "notas" que tenga el valor -3
    muestra su valor
"""

notas = -3
print(notas)

In [1]:
notas = -3
notas

-3

In [4]:
# EJERCICIO 3

"""
    Declarar una variable con nombre "name",
    que tenga el valor de Juan "El profesor"
"""
name = 'Juan"El profesor"'
name

'Juan"El profesor"'

In [ ]:

# EJERCICIO 2

"""
    Imprime los valores de "s" es igual 25, de "y" es igual a 10, poniendo la siguiente salida:
    El valor de "s" es "valor de s" y el valor de y es "valor de y"
"""

s = 25
y = 10
print(f'el valor de s es {s} y el valor de y es {y}')
print('el valor de s es ' + str(s) + ' y el valor de y es ' + str(y))
print('el valor de s es ', s, ' y el valor de y es ', y)
print(f'el valor de s es %s y el valor de y es %s' %(s, y))

In [7]:
s = 25
y = 10
print(f'El valor de s es {s} y el valor de y es {y}')
print("El valor de s es " + str(s) + " y el valor de y es " + str(y))
print(f"El valor de s es %s y el valor de y es %s" %(s,y))

El valor de s es 25 y el valor de y es 10
El valor de s es 25 y el valor de y es 10
El valor de s es 25 y el valor de y es 10

In [ ]:
# EJERCICIO 4

"""
    Concatena las siguientes palabras formando un sola:
    Juan "El profesor"
"""

In [8]:
palabra = 'Juan"El profesor"'
palabra

'Juan"El profesor"'

In [ ]:

# EJERCICIO 5

"""
    Teniendo la siguientes palabras: no cuentes los días, haz que los días cuenten
     · Pon las primeras letras de cada palabra en mayúsculas
     · Pon todas las letras en mayúsculas
     · Pon todas las letras en minúculas

In [9]:
palabras = "no cuentes los días, haz que los días cuenten"
print(palabras.lower())
print(palabras.upper())
print(palabras.title())

no cuentes los días, haz que los días cuenten
NO CUENTES LOS DÍAS, HAZ QUE LOS DÍAS CUENTEN
No Cuentes Los Días, Haz Que Los Días Cuenten

In [ ]:

# EJERCICIO 6

"""
    Realiza la suma de 26 y 35
    Realiza la multiplicación de 26 y 35
    Realiza la operación de 2 + 32 por 10
    Saca el resultado de 3 elevado a 9
    Redondea el resultado anterior a dos decimales
    Muestra de que tipo se trata
"""

In [57]:
print(26 + 35)
print(26 * 35)
print( 2 + (32 * 10))
elevado = 3**9
print(elevado)
type(elevado)

61
910
322
19683

int

In [58]:
def elevado(x,y):
    result = x**y
    return result

In [59]:
def redondeo(value):
    print(round(value,2))

In [60]:
def tipo(value):
    print(type(value))

In [64]:
print(elevado(3,9))
print(redondeo(elevado(3,9)))
print(tipo(elevado))

19683
19683
None
<class 'function'>
None

In [13]:

# EJERCICIO 7

"""
    Saca el valor absoluto de -32
    Muestra el máximo y el mínimo de (3, -6, 4, -10, 2.6666)

SyntaxError: EOF while scanning triple-quoted string literal (1426852886.py, line 5)

In [14]:
print(abs(-32))

32

In [15]:
l = (3, -6, 4, -10, 2.6666)
l

(3, -6, 4, -10, 2.6666)

In [16]:
print(min(l))
print(max(l))

-10
4

In [ ]:

# EJERCICIO 8

"""
    Tratar de reemplazar los valores que faltan en este listado --> por un -1
    L = [10, None, 8, 5, None, 20]
    1) Hazlo de la forma más fácil posible teniendo en cuenta la posición (index) de esos valores.
    2) Crea un dataframe con esos valores (L = [10, None, 8, 5, None, 20])
"""

In [17]:
L = [10, None, 8, 5, None, 20]
L

[10, None, 8, 5, None, 20]

In [18]:
L[1]= -1
L[4]= -1
L

[10, -1, 8, 5, -1, 20]

In [19]:
for i in L:
    if i == None:
        i = -1
print(L)

[10, -1, 8, 5, -1, 20]

In [29]:
import pandas as pd
df = pd.DataFrame(L)
df

    0
0  10
1  -1
2   8
3   5
4  -1
5  20

Ejercicio 1
Dado el siguiente listado: ["Python", "Matlab", "R", "VBA", "Julia", "C++"].
Modifica con un algoritmo ese listado.
Cuando encuentre Python debe poner un 1
y cuando encuentre otro lenguaje de programacion, un 0
es un simple ejemplo de modificación de valores en una lista

In [66]:
languages = ["Python", "Matlab", "R", "VBA", "Julia", "C++"]  
languages

['Python', 'Matlab', 'R', 'VBA', 'Julia', 'C++']

In [67]:

for i in range(len(languages)):
    if languages[i] == "Python":
        languages[i] = 1
    else:
        languages[i] = 0   
languages

[1, 0, 0, 0, 0, 0]


# EJERCICIO 2

"""
    Dada la siguiente lista:
    L = [10, None, 8, 5, None, 20]
"""
    # 1) Susitituir por -1 el valor None usando bucles y listas
    # 2) Creamos un dataframe con los valores de la lista y
    #     modificamos los "NaN" por un valor de -1 (Valores nulos, suma, etc..)
    # 3) Vuelve a escribir el listado con falta de valores (inicial),
    #     y sustituye por la media.
    # 4) Apendiza la columna con estos valores
    #     listado2 = [10, 20, 50, 30, 20, 0]
    # 5) Elimina la columna L



# EJERCICIO 3

"""
    Crear un listado con los siguientes numeros:
        10, 20, 30, 40 (nombra la lista con nombre: "listado")
"""
    # 1) Crea el listado e imprimelo:
    # 2) Apendiza el valor 50 ( si es posible)
    # 3) Modifica (si es posible) el valor 10 por 100

# EJERCICIO 4

"""
    Da una lista de nombre "Temperatura" con valores: 10, 20, 30, 40, 50
"""
    # 1) Crea el listado e imprimelo:
    # 2) En este "Temperatura". ¿Cuál es el elemento en la posición (index) 1?
    # 3) ¿Y en la posición (index) 0?
    # 4) ¿Y en la posición (index) -1?